{% extends "bill/base.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if user.is_authenticated %}
       
      
        <h1>Upload bill details</h1>
        <h3>Just fill out the form.</h3>
<form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          {{ bill_number.as_p }}
          {{ date_d.as_p }}
		  {{ Category.as_p}}
		  {{ Company.as_p}}
		  {{ Spent.as_p}}
          <input type="submit" name="" value="Upload">
        </form>
        {% else %}
		<h2>Register or Login if you'd like to</h2>
      {% endif %}
    </div>
  </div>
{% endblock %}